@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Alex+Brush');

.Navbar {
	transition: .5s;
	margin-top:10px;
	background-color: rgb(255,255,255,.6);
	font-family: 'Open Sans', sans-serif;
	display: flex;
	padding: 8px;
	font-size:18px;
	word-spacing: 1px;
	color: black;
	width:70%;
	position: fixed;
	z-index: 20;
}
.Navbar:hover{
	transition: .5s;
	background-color: rgb(255,255,255,1);
}
a{
	color: rgb(74,132,244);
}
a:hover{
	color: rgb(0,0,209);
	text-decoration: none;
}

.Navbar__Link {
	padding-right: 8px;
	margin-left: 5px;
	cursor: pointer;
}

.Navbar__Link-brand{
	font-size: 20px;
}

.Navbar__Items {
	display: flex;
}

.Navbar__Items--right {
	margin-left:auto;
}

.Navbar__Link-toggle {
	display: none;
}
.signup{
	transition: .5s;
	border: 2px solid black;
	padding: 5px;
	border-radius: 5px;
	background: white;
}
.signup:hover{
	transition: .5s;
	border: 2px solid white;
	color: white;
	padding: 5px;
	border-radius: 5px;
	background: black;	
}

@media only screen and (max-width: 768px) {
	.Navbar__Items,
	.Navbar {
		flex-direction: column;
	}
	.Navbar__Items {
		display:none;
	}
	.Navbar__Items--right {
		margin-left:0;
	}
	.Navbar__ToggleShow {
		display: flex;
	}
	.Navbar__Link-toggle {
		align-self: flex-end;
		display: initial;
		position: absolute;
		cursor: pointer;
	} 
	.login{
		margin-bottom: 15px;
	}
}
.map{
  height: 60vh;
  background: white;
  position: fixed;
  width: 100vw;
  color: white;
}

.slider{
	background-image: linear-gradient(rgb(224,224,224), rgb(190,190,190));
}
.restaurants{
  background: white;
  position: relative;
  top: 60vh;
  z-index: 21;
}
#map{
	position: static !important;
}

.near-me{

}

.button{
	transition: .5s;
	color: rgb(74,132,244);
	background: rgb(228,229,255);
	border-radius: 5px;
	width: 120px;
}
.button:hover{
	transition: .5s;
	background: rgb(208,209,255);
}

.view-card{
	height: 150px;
	border: 1px solid rgb(190,190,190);
	border-radius: 4px;
}
.view-card-img{
	background-image: url('3.jpg');
	background-size: cover;
	background-position: center; 
}
.typo{
	font-family: 'Alex Brush', cursive;
	font-weight: 200;
	color:white;
	font-size:80px;
	height: 100%
}
.photos{
	color: black;
	z-index: 20;
	position: fixed;
	top: 53vh;
	right: 1vw;
	padding: 10px;
	background: rgba(224,224,224,.9);
	border-radius: 30px;
	transition: .5s;
}

.photos:hover{
	transition: .5s;
	background: rgb(44,31,0);
	color: white;
	cursor: pointer;
}