@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Alex+Brush');

.p-0{
	padding: none;
}
.m-0{
	margin: none;
}

.blue-text{
	color: rgb(74,132,244);
}

.Navbar {
	transition: .5s;
	margin-top:10px;
	background-color: rgb(255,255,255,.6);
	font-family: 'Open Sans', sans-serif;
	display: flex;
	padding: 8px;
	font-size:18px;
	word-spacing: 1px;
	color: black;
	width:70%;
	position: fixed;
	z-index: 20;
}
.Navbar:hover{
	transition: .5s;
	background-color: rgb(255,255,255,1);
}
a{
	color: rgb(74,132,244 );
}
a:hover{
	color: rgb(0,0,209);
	text-decoration: none;
}

.Navbar__Link {
	transition: 1s;
	padding-right: 8px;
	margin-left: 5px;
	cursor: pointer;
}

.Navbar__Link-brand{
	font-size: 20px;
}

.Navbar__Items {
	display: flex;
}

.Navbar__Items--right {
	margin-left:auto;
}

.Navbar__Link-toggle {
	transition: 1s fade-in;
	display: none;
}
.signup{
	transition: .5s;
	border: 2px solid black;
	padding: 5px;
	border-radius: 5px;
	background: white;
}
.signup:hover{
	transition: .5s;
	border: 2px solid white;
	color: white;
	padding: 5px;
	border-radius: 5px;
	background: black;	
}
.card-ratings{
	color: rgb(153,153,153);
	font-size: 10px;
}
.bb{
	border-bottom: 1px solid lightgrey;
}

.grey-text{
	color: grey;
}

@media only screen and (max-width: 768px) {
	.Navbar__Items,
	.Navbar {
		flex-direction: column;
	}
	.Navbar__Items {
		display:none;
	}
	.Navbar__Items--right {
		margin-left:0;
	}
	.Navbar__ToggleShow {
		display: flex;
	}
	.Navbar__Link-toggle {
		align-self: flex-end;
		display: initial;
		position: absolute;
		cursor: pointer;
	} 
	.login{
		margin-bottom: 15px;
	}

	
}
@media only screen and (max-width: 568px) {
	.photos{
		right: 5vw !important;
	}
	.typo{
		font-size: 60px !important;
	}
}

.map{
  height: 60vh;
  background: white;
  position: fixed;
  width: 100vw;
  color: white;
}

.restaurants{
  background: white;
  position: relative;
  top: 60vh;
  z-index: 21;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 -4px 6px -6px #333;
  border-top: 1px solid #EFEFF4;
}

#map{
	position: static !important;
}

.button{
	transition: .5s;
	color: rgb(74,132,244);
	background: #EFEFF4;
	border-radius: 10px;
	min-width: 90px;
	max-width: 90px;
}
.picture_gallery img{
	border-radius: 10px;
}

@media only screen and (max-width: 576px) {
	.details .details_sub{
		margin-left: -8px;
	}
}

.button:hover{
	transition: .5s;
	cursor: pointer;
	background: rgb(208,209,255);
}

.view-card{
	height: 70px;
	/*border: 1px solid rgb(190,190,190);*/
	border-radius: 4px;
	background: rgb(255,255,255); 
}
.text_medium{
	font-size: 11px;
}
.text_small{
	font-size: 10px;
}
.text_large{
	font-size: 14px;
}

.rest_name a{
	color: black;
}
.rest_reviews{
	color: grey;
}

.details{
	font-size: 12px;
}

.rest_reviews i{
	font-size:4px;
	padding: 0 5px 5px 5px;
	position: relative;
	top: -1px;
}

.fa-minus{
	color: #dadce0;
	font-size: 30px;
	margin-top: -5px;
}

.typo{
	font-family: 'Alex Brush', cursive;
	font-weight: 200;
	color:white;
	font-size:80px;
	height: 100%
}
.photos{
	color: black;
	z-index: 20;
	position: fixed;
	top: 50vh;
	right: 1vw;
	padding: 10px;
	background: rgba(224,224,224,.9);
	border-radius: 30px;
	transition: .5s;
}

.back{
	z-index: 20;
	position: fixed;
	top: 1vh;
	left: 1vw;
	padding: 10px;
	/*background: rgba(224,224,224,.9);*/
	border-radius: 30px;
	transition: .5s;
}

.back a{
	color: white;
}

.photos:hover{
	transition: .5s;
	background: rgb(44,31,0);
	color: white;
	cursor: pointer;
}