.cover-img{
	background-image: url('cafe2.jpg');
	background-size: cover;
	background-position: center; 
	/*background-repeat: no-repeat; */
}
.fa-star{
	color: rgb(74,132,244);
}
.fa-star:nth-child(5){
	color: grey;
}
.status{
	color: green;
}
.see-more{
	color: rgb(74,132,244);;
}
.restaurant-content{
	height: 30vh;
}
